# Ignora la carpeta node_modules en cualquier directorio
node_modules/

# Ignora los archivos de entorno
.env

# Ignora los logs
*.log

# Ignora las carpetas de dependencias del paquete
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignora la cache de npm
.cache/

# Ignora los archivos del sistema operativo macOS
.DS_Store

# Ignora los archivos de compilación de npm
dist/

# Ignora coverage de pruebas
coverage/
